body {
	margin:25px;
}

#data {
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

#data th {
	background:rgb(212, 223, 174);
	padding:5px 15px;
}
#data td {
	padding:0;
	margin:0;
}
#data td input {
	//padding:3px 15px;
	margin:0;
	outline:none;
	border:none;
	box-shadow:none;
	background:transparent;
}
#data td button {
	padding:3px 15px;
	margin:2px;
}
